@{
    ViewData["Title"] = "Home Page";
}

@section dataTableCSS{
    <link href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Registrierte Produkte</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr>
                                <th>Hersteller</th>
                                <th>BHZ</th>
                                <th>EK-N</th>
                                <th>EK-B</th>
                                <th>VK-N</th>
                                <th>VK-B</th>
                                <th>Menge</th>
                                <th>Prozess</th>
                                <th>Prozess</th>
                                <th>Prozess</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Hersteller</th>
                                <th>BHZ</th>
                                <th>EK-N</th>
                                <th>EK-B</th>
                                <th>VK-N</th>
                                <th>VK-B</th>
                                <th>Menge</th>
                                <th>Prozess</th>
                                <th>Prozess</th>
                                <th>Prozess</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<br />

<div class="modal fade" id="modal-sm" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Neue reifen hinzufügen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="AddStock" method="post">
                    <div class="form-group">
                        <label class="control-label">Menge</label>
                        <input type="number" name="quantity" class="form-control" />
                    </div>
                    <input type="hidden" class="form-control" name="productId" id="productId" />
                    <div class="modal-footer justify-content-between">
                        <input type="submit" class="btn btn-primary btn-block" value="Speichern" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-sm-minus" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reifen Entfernen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="MinusStock" method="post">
                    <div class="form-group">
                        <label class="control-label">Menge</label>
                        <input type="number" name="quantity" class="form-control" />
                    </div>
                    <input type="hidden" class="form-control" name="mproductId" id="mproductId" />
                    <div class="modal-footer justify-content-between">
                        <input type="submit" class="btn btn-danger btn-block" value="Speichern" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Productable{
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#example").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "responsive": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "ajax": {
                    "url": "/Home/LoadProducts",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [
                        { "data": "brand", "autoWidth": true, "targets": 0 },
                        { "data": "dimensions", "autoWidth": true, "targets": 1 },
                        { "data": "ekNetto", "autoWidth": true, "targets": 2 },
                        { "data": "ekBrutto", "autoWidth": true, "targets": 3 },
                        { "data": "vkNetto", "autoWidth": true, "targets": 4 },
                        { "data": "vkBrutto", "autoWidth": true, "targets": 5 },
                        { "data": "stockQuantity", "autoWidth": true, "targets": 6 },
                        {
                            "targets": 7,
                            "data": null,
                            "defaultContent": "<button class='eingang btn btn-primary btn-sm'>Eingang</button>"
                        },
                        {
                            "targets": 8,
                            "data": null,
                            "defaultContent": "<button class='ausgang btn btn-danger btn-sm'>Ausgang</button>"
                        },
                        {
                            "targets": 9,
                            "data": null,
                            "defaultContent": "<button class='btn btn-warning bearbeiten btn-sm'>Bearbeiten</button>"
                        },
                        { "targets":10, "data": "productId", "name": "productId", "autoWidth": true, "visible": false }
                    ],
            });
            $('#example tbody').on('click', 'button.eingang', function () {
                var data = table.row($(this).parents('tr')).data();
                var urunId = data.productId;
                $("#productId").val(urunId);
                $('#modal-sm').modal('show');
            });
            $('#example tbody').on('click', 'button.ausgang', function () {
                var data = table.row($(this).parents('tr')).data();
                var urunId = data.productId;
                $("#mproductId").val(urunId);
                $('#modal-sm-minus').modal('show');
            });
            $('#example tbody').on('click', 'button.bearbeiten', function () {
                var data = table.row($(this).parents('tr')).data();
                var urunId = data.productId;
                document.location = '@Url.Action("EditPrice", "Home")' + '?ProductId=' + parseInt(urunId);
            });
        });
    </script>
}


